<h1>Editing Publication</h1>

<%= render 'form' %>

<div class="btn-group " role="group" aria-label="...">
    <%= link_to 'Show', @publication, class: 'btn btn-default' %>
    <%= link_to 'Back', publications_path, class: 'btn' %>
</div>
